<p-carousel class="mr-0" [value]="platillos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5 class="flex justify-content-center align-items-center text-3xl sm:text-3xl md:text-5xl text-50 mb-4">Platillos Destacados</h5>
    </ng-template>
    <ng-template let-platillo pTemplate="item">
        <div class="platillo-item" data-aos="flip-down" data-aos-duration="700">
            <div class="platillo-item-content">
                <div class="mb-3">
                    <img [src]="platillo.imagen" [alt]="platillo.nombre" class="platillo-image"/>
                </div>
                <div>
                    <span class="mb-1 text-base">{{platillo.nombre}}</span>
                    <p-rating (ngModel)="val3" [readonly]='true' [cancel]="false"></p-rating>
                    <div class="grid">
                        <div class="col-6"><span>${{platillo.precio}}</span></div>
                        <div class="col-6"><button pButton pRipple routerLink="/platillos" label="{{platillo.nombre_btn}}" class="p-button-raised p-button-warning p-2"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<!-- [readonly]='true' -->