<!-- <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card> -->


<!-- glassmorfismo -->

<!-- <div class="container">
    <div class="card">
        <img src="../../../assets/platillos/1.jpg" alt="">
        <h2>John Smith</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
</div>
 -->

<!-- chefs -->

<!-- <div class="carta">
    <div class="imagen-box">
        <img src="../../../assets/chefs/gordon_ramsey-removebg-preview.png" alt="">
    </div>
    <div class="contenido flex justify-content-center align-items-end">
        <div class="detalle text-center">
            <h2>Gordon Ramsin<br><span>Chef Internacional</span></h2>
            <div class="datos">
                <h3>342<br><span>Post</span></h3>
                <h3>342k<br><span>Followers</span></h3>
                <h3>342<br><span>Following</span></h3>
            </div>
            <div class="botones">
                <button>Follow</button>
                <button>Message</button>
            </div>
        </div>
    </div>
</div> -->

<!-- efecto piola -->
<div class="grid grid-nogutter">
    <div *ngFor="let chef of chefs" class="contenedor sm:col-12 md:col-6"> <!-- flex justify-content-center align-items-center -->
        <div class="carta">
            <div class="contenido">
                <h2>{{chef.nombre}}</h2>
                <p>{{chef.descripcion}}</p>
                <a href="#">Leer mas</a>
            </div>
            <img [src]="chef.imagen" alt="">
        </div>
    </div>
</div>

