*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -------------------------------------- glassmorfismo ----------------------------------------------- */

/* .card{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgb(255,255,255,0.3);
    border-radius: 5%;
    background: rgb(255,255,255,0.2);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.card img{
    background-size: cover;
    width: 100%; 
    height: 30em; 
    background-position: center; 
    object-fit: cover;
    border-radius: 5%;
}

.card h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}

.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}  */

/* ------------------------------------------- chefs ------------------------------------------------------- */

/* .carta{
    margin: 2em;
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.carta:hover{
    height: 450px;
}

.imagen-box{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 1em 3em rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.carta:hover .imagen-box{
    width: 250px;
    height: 250px;
}

.imagen-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta .contenido{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carta .contenido .detalle{
    padding: 2.5em;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.carta:hover .contenido .detalle{
    transform: translateY(0px);
}

.carta .contenido .detalle h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.carta .contenido .detalle h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.7;
}

.carta .contenido .detalle .datos{
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0;
}

.carta .contenido .detalle .datos h3{
    font-size: 1.2em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}

.carta .contenido .detalle .datos h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.8;
}

.carta .contenido .detalle .botones{
    display: flex;
    justify-content: space-between;
    gap: 1.1em;
}

.carta .contenido .detalle .botones button{
    padding: 0.8em 2em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ffbe00;
    color: #000;
    cursor: pointer;
} */

/* ------------------------------------------------------- efecto piola ------------------------------------------------------ */

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.contenedor .carta{
    position: relative;
    width: 800px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(40deg,#090f14,#ffbe00);
    border-radius: 3%;
}

.contenedor .carta img{
    position: absolute;
    bottom: 0;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.contenedor .carta:hover img{
    left: 70%;
    height: 440px;
}

.contenedor .carta .contenido{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 1.3em 1.3em 1.3em 2.5em;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.contenedor .carta:hover .contenido{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.contenedor .carta .contenido h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;

}

.contenedor .carta .contenido p{
    color: #fff;
}

.contenedor .carta .contenido a{
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 0.6em 1.3em;
    margin: 0.6em 0.6em 0.6em 0;
    text-decoration: none;
    font-weight: 700;
}


@media screen and (max-width: 1872px) {
    .contenedor .carta{
        width: auto;
        max-width: 700px;
        align-items: flex-end;
    }

    .contenedor .carta:hover{
        height: 700px;
    }

    .contenedor .carta:hover img{
        margin-top: 1em;
        top: 0;
        left: 50%;
        height: 400px;
    }

    .contenedor .carta .contenido{
        padding-bottom: 5em;
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 1073px) {
    .contenedor .carta img{
        width: 25em;
        height: 20em;
    }

    .contenedor .carta:hover img{
        width: 25em;
        height: 20em;
    }

    .contenedor .carta:hover{
        height: 550px;
    }

    .contenedor .carta .contenido{
        padding-bottom: 2em;
    }
}
@media (max-width: 924px) {
    .contenedor .carta .contenido{
        padding-bottom: .5em;
    }
}
@media (min-width: 768px) and (max-width: 886px){
    .contenedor .carta img{
        width: 20em;
        height: 20em;
    }
}

@media (max-width: 767px) {
    .contenedor .carta .contenido{
        padding-bottom: 2.5em;
    }
}