*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    padding-left: .3em;
    border-left: #FFBE00 solid .2em;
}

.overflow-hidden section{
    color: white;
    position: absolute;
}

.fondo{
    background: #000 fixed no-repeat 50% 50%;
    background-size: cover;
}

.imagen{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/Global-Payroll.webp") no-repeat 50% fixed;
    background-size: cover;
    opacity: 0.4;
}

.contenedor{
    margin: auto 0;
}

.info{
    background-color: #FFBE00;
    color: black;

    section {

        ul li{ 
            list-style: none;
            i{
                margin-top: 1em;

                span{
                    padding-left: .3em;
                }
            }
        }

        h2{
            border-left: #000 solid .2em;
            padding-left: .3em;
        }
    }
    
}

.formulario{
    padding: 7% 5% 7% 5%;
    /* background: rgb(38,40,47);
    background: linear-gradient(90deg, rgba(38,40,47,1) 0%, rgba(30,30,37,1) 9%, rgba(14,13,13,1) 31%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); */
    background: url("../../../assets/fondo-formal.jpg");
    background-attachment: fixed;
}

.imagen2{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    h2{
        border-left: #FFBE00 solid .2em;
        padding-left: .3em;
    }
}

@media screen and (max-width: 1260px){

    .form-imagen{
        display: none;
    }

    form .grid .h2{
        justify-content:center;
        padding-left: 0;
    }
}

@media screen and (max-width: 407px){
    form i{
        display: none;
    }
}

@media (min-width: 992px) and (max-width:1260px){
    .contenedor{
        width: 55em;
    }
}

.mapa{
    width: 100%;
    height: 80vh;
    background: url("../../../assets/mapa.jpg") no-repeat 50% fixed;
    background-size: cover;
}

.container-text-area{
    ::ng-deep{
        p-chips{
            width: 10000px !important;
        }
    }
}

.sub-titulo{

    padding-top: 2.3em;

    padding-left: 1em;

    p{
        color: #ffff;
    }

    span{
        font-weight: bold;
    }
}
