<!-- efecto piola -->
<div class="grid grid-nogutter fondo" >
    <div *ngFor="let chef of chefs" class="contenedor sm:col-12 md:col-6" data-aos="zoom-in" data-aos-duration="500"> <!-- flex justify-content-center align-items-center -->
        <div class="carta">
            <div class="contenido">
                <h2>{{chef.nombre}}</h2>
                <p>{{chef.descripcion}}</p>
                <a href="#">Leer mas</a>
            </div>
            <img [src]="chef.imagen" alt="">
        </div>
    </div>
</div>
