<div class="contenedor">
    <div class="carta" aTilt>
        <div class="contenido">
            <h2>01</h2>
            <h3>Card One</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quam ratione laboriosam facere nobis. Laborum quis earum ipsam dolor sed.</p>
            <a href="#">Leer mas</a>
        </div>
    </div>
</div>

<!-- <script type="text/javascript" src="./vanilla-tilt.js"></script>
<script>
      VanillaTilt.init(document.querySelectorAll(".carta"), {
      max: 25,
      speed: 400
    });
</script> -->