<div class="grid grid-nogutter h-screen">
    <div class="col-12 fondo flex align-items-center pl-7">
        <section>
            <span class="md:text-6xl text-6xl font-bold mb-1 text-50" data-aos="fade-right" data-aos-duration="1000">Prueba nuestros mejores platillos</span>
            <div class="md:text-7xl text-7xl font-bold mb-3 text-50" data-aos="fade-right" data-aos-duration="600">No te resistas!</div>
            <p class="mt-0 mb-4 md:text-4xl text-4xl texto" data-aos="fade-right" data-aos-duration="500">Animate a disfrutar y elegir a tu consideracion</p>
        </section>
    </div>
</div>
<div class="grid grid-nogutter">
    <div class="col-12 fondo2 h-screen flex justify-content-center align-items-center text-center ">
        <app-carousel [nombre_btn]="'Comprar'"></app-carousel>
    </div>
    <div class="col-12 fondo2 h-screen flex justify-content-center align-items-center text-center ">
        <app-card></app-card>
    </div>
</div>
