.fondo{
    width: 100%;
    background: url("../../../assets/restaurante-tripadvisor-mesa-table-vino-food.jpg") no-repeat 50% fixed;
    background-size: cover;
}

.fondo2{
    background: url("../../../assets/fondo-formal.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.texto{
    color: #ffbe00;
}