<div class="grid grid-nogutter surface-section text-800 banner-left h-screen">
    <div class="col-12 md:col-12 lg:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="font-italic block text-6xl font-bold mb-1 color">¿Tienes Hambre?</span>
            <div class="text-8xl font-bold mb-3 color">No Esperes Más!</div>
            <p class="font-italic mt-0 mb-4 line-height-3 text-4xl">Empieza a pedir comida ahora</p>
            <button pButton type="button" class="p-button-raised p-button-rounded" label="Mirar Menú"></button>
        </section>
        <img src="../../../assets/banner/banner.png" alt="plato_de_comida" class="oculto">
    </div>
    <div class="col-12 md:col-6 overflow-hidden banner-rigth flex align-items-center justify-content-center poligono oculto">
    </div>
</div>
