*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/1.jpg") no-repeat 50% fixed;
    background-size: cover;
}

.fondo2{
    background: url("../../../assets/fondo-formal.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    border-left: solid .3em #ffbe00;
    margin: 1em 0;
}

img{
    object-fit: cover;
    width: 100%;
    height: 40em;
}

@media (max-width: 991px) {
    img{
        padding-top: 1em;
    }
}