<div class="grid grid-nogutter">
    
    <div class="col-12">
        <app-banner></app-banner>
    </div>
</div>
<div class="grid grid-nogutter">
    <div class="col-12 fondo h-screen flex justify-content-center align-items-center text-center">
        <app-carousel [nombre_btn]="'Ir a platillos'"></app-carousel>
    </div>
</div>
<div class="grid grid-nogutter fondo2 text-0 ">
    <div class="col-12 flex justify-content-center">
        <h2 class="text-6xl p-3">Gallery</h2>
    </div>
    <div class="grid grid-nogutter p-3">
        <div class="lg:col-5 md:col-6 col-12 pr-1">
            <img src="../../../assets/galeria/5ffe0cf6b247d.webp" data-aos="fade-zoom-in" data-aos-delay="450" data-aos-offset="0" data-aos-easing="ease-in-back" preview="true" style="height: 99.59%" class="imagen-grande">
        </div>
        <div class="lg:col-7 md:col-6 col-12 pl-1">
            <img src="../../../assets/galeria/Mishiguene-SF-6.jpg" data-aos="fade-zoom-in" data-aos-delay="400" data-aos-offset="0" data-aos-easing="ease-in-back" preview="true">
            <div class="grid">
                <div class="lg:col-6 col-12 pr-1">
                    <img src="../../../assets/galeria/image.jpg" data-aos="fade-zoom-in" data-aos-delay="350" data-aos-offset="0" data-aos-easing="ease-in-back" preview="true">
                </div>
                <div class="lg:col-6 col-12">
                    <img src="../../../assets/galeria/5ffe0cf7a9b21_950_534!.jpg" data-aos="fade-zoom-in" data-aos-delay="400" (preview)="true">
                </div>
            </div>
        </div>
    </div>
</div>
