*{
    padding: 0;
    margin: 0;
}

.fondo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: url(../../../assets/cook-making-dinner-kitchen-high-end-restaurant_110955-328.webp) no-repeat; 
    opacity: 0.3;
    background-attachment: fixed;
    background-size: 100%;
}