<div class="grid grid-nogutter">
    <div class="col-12 md:col-4 px-3 py-3 md:text-left h-screen text-50">
        <section class="info">
            <h1 class="block text-7xl md:text-6xl lg:text-7xl font-bold mb-1">Nosotros</h1>
            <div class="grid">
                <div class="col-2"><i class="pi pi-angle-double-right text-6xl md:text-4xl lg:text-6xl p-4 flex text-center"></i></div>
                <div class="col-10 mt-4">
                    <div class="lg:col-12 sub-titulo"><span class="text-4xl md:text-2xl pl-1">Restaurante Familiar</span></div>
                    <div class="col-12"><p class="text-2xl md:text-lg mb-0 mt-0 pl-1">Llevamos 10 años con este negocio familiar, pasando por momentos buenos y malos, teniendo como objetivo siempre su satisfaccion.</p></div>
                </div>
            </div>
            <div class="grid">
                <div class="col-2"><i class="pi pi-angle-double-right text-6xl md:text-4xl lg:text-6xl p-4 flex text-center"></i></div>
                <div class="col-10 mt-4">
                    <div class="lg:col-12 sub-titulo"><span class="text-4xl md:text-2xl pl-1">Personal</span></div>
                    <div class="col-12"><p class="text-2xl md:text-lg mb-0 mt-0 pl-1">A lo largo de nuestra historia, hemos priorizado siempre la calidad de nuestros servicios, logrando de esta forma, reunir al mejor personal.</p></div>
                </div>
            </div>
            <div class="grid">
                <div class="col-2"><i class="pi pi-angle-double-right text-6xl md:text-4xl lg:text-6xl p-4 flex text-center"></i></div>
                <div class="col-10 mt-4">
                    <div class="lg:col-12 sub-titulo"><span class="text-4xl md:text-2xl pl-1">Objetivos</span></div>
                    <div class="col-12 ">
                        <ul class="text-2xl md:text-base lg:text-xl mt-1">
                            <li>Satisfaccion del cliente</li>
                            <li>Satisfaccion de los empleados</li>
                            <li>Productos de alta calidad</li>
                            <li>Productos en tiempo y forma</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-12 md:col-8 overflow-hidden">
        <div class="grid">
            <div class="col-12 imagen"></div>
            <div class="col-12">
                <div class="grid">
                    <div class="col-12 md:col-6 caja1">
                        <div class="grid">
                            <div class="col-12 flex align-items-center justify-content-center text-4xl pb-0 pt-3 font-bold"><span>10</span></div>
                            <div class="col-12 flex align-items-center justify-content-center text-2xl pt-0 pb-0 font-bold"><p>Años haciendo esto</p></div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 caja2 flex align-items-center justify-content-center">
                        <div class="grid">
                            <div class="col-12 flex align-items-center justify-content-center text-4xl pb-0 pt-3 font-bold"><span>20</span></div>
                            <div class="col-12 flex align-items-center justify-content-center text-2xl pt-0 pb-0 font-bold"><p>Empleados para servirte</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid frase">
    <div class="col-12 flex justify-content-center align-items-center text-center">
        <p class="md:text-4xl text-3xl">"Dilema del cocinero: El poeta triste escribe poemas y te hace llorar. El pintor triste pinta cuadros y te logra emocionar. El músico triste compone canciones y te hace cantar. Al cocinero triste... le está prohibido cocinar"</p>
    </div>
    <div class="col-12 flex justify-content-center align-items-center text-center">
        <span class="text-xl">Gastón Acurio - 1994</span>
    </div>
</div>

<app-card-chef></app-card-chef>