<footer class="pie-pagina">
    <div class="grid grupo-1">
        <div class="md:col-4 sm:col-12 columna-1 logo">
            <figure>
                <a href="#"><img src="../../../assets/logo/logo-restaurante-removebg-preview.png" alt="logo del restaurante"></a>
            </figure>
        </div>
        <div class="md:col-4 sm:col-12 columna-2 mt-4">
            <h2>Sobre Nosotros</h2>
            <p class="pt-3">Nuestro restaurante es uno de los mejores en el pais, con calificaciones 5 estrellas desde el 2020, y con una reputacion intachable, logrando siempre nuestro cometido.</p><br>
            <p class="pt-3">Nuestro equipo es una de los mas calificados en el arte de la cocina, desde chefs internacionales hasta integrantes familiares en la parte administrativa del restaurante</p>
        </div>
        <div class="md:col-4 sm:col-12 columna-3 mt-3 siguenos">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="#" class="fa-brands fa-facebook-f"></a>
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-twitter"></a>
                <a href="#" class="fa-brands fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grid grupo-2 text-center">
        <div class="col-12">
            <small>&copy; 2021 Restaurant Fresh and Natural - Todos los Derechos Reservados</small>
        </div>
    </div>
</footer>